{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="Admin Page">
    </h3>
    <h1 class="title">COVID-19 Tracker Admin Panel</h1>
    <div class="box" is="medium">
    <div>
        <br>
        <br>
            <form action="{{ url_for('main.edituser') }}">
            <button class="button is-rounded is-danger is-dark is-medium ">Set User COVID-19 Status</button>
            </form>
        <br>
        <br>
            <form action="{{ url_for('main.editlocation') }}">
            <button class="button is-rounded is-danger is-dark is-medium ">Modify Location Information</button>
            </form>
        <br>
    </div>
    </div>
</div>

{% endblock %}
