{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="Visit Report">
    </h3>
    <h1 class="title">Report Generator</h1>
    <div>
        <div class="box" is="medium">
            <form method="get" action="https://replit.com/@eouHefleyM/Yessir" target="_blank">
                <h1 class="title">Infection Possibility: 22%</h1>
                <p><b>Safeway Infection Rate: 22%</b></p>
                <p><b>User 'yoselinsparks' is infected with COVID-19.</b></p>
                <p><b>User 'andremarsh' visited Safeway @ 8:15 AM</b></p>
                <p><b>User 'arnavmosley' visited Safeway @ 10:00 AM</b></p>
                <p><b>User 'yoselinsparks' visited Safeway @ 12:00 PM</b></p>
                <p><b>You visited Safeway @ 1:00 PM</b></p>
                <br>
                <button class="button is-rounded is-danger is-dark is-medium ">View Replit Project</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
