{% extends "base.html" %}

{% block content %}
    <h3 class="Visit Report">
        Welcome, {{name}}!
    </h3>
    <h1 class="title">COVID-19 Tracker</h1>
    <div>
        <form method="POST" action="{{ url_for('main.generate_report') }}">
        <div class="box" is="medium">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
            <br>
            <br>
            <div class="box" is="medium">    
            Here's some
            <br>
            Stuff
            <br>
            in
            <br>
            a
            <br>
            report
                </div>
        </div>
        </form>
    </div>

{% endblock %}
